.bestsellers-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 75%;
}

.bestsellers-page-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}